* {
	box-sizing: border-box;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    display: grid;
    width: 100%;
    grid-template-areas: 
        'nav header header header'
        'nav main main main'
        'nav main main main'
        'nav main main main'
        'nav main main main'
        'nav main main main'
        'nav main main main';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.nav {
    grid-area: nav;
}

.nav-container {
    display: grid;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    grid-template-areas: 
        'nav-dashboard'
        'nav-menu'
        'nav-menu'
        'nav-settings'
        'nav-settings'
        'nav-settings'
        'nav-settings';
    grid-template-rows: repeat(7, 1fr);
    background-color: #1c93d3;
}

.dashboard {
    grid-area: nav-dashboard;
}

.dashboard-logo {
    list-style: none;
}

.dashboard-logo li {
    width: 80px;
    height: 80px;
    font-size: 35px;
    font-weight: bolder;
    color: #fff;
    display: flex;
    align-items: center;
    & img {
        margin-right: 20px;
        -webkit-filter: invert(100%);
    }
}

.menu-list {
    list-style: none;
    margin-bottom: 30px;
}

.menu-list li {
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    & img {
        margin-right: 20px;
        -webkit-filter: invert(100%);
    }
}

.dashboard h1 {
    position: relative;
    font-size: 30px;
    align-items: center;
    color: #fff;
}

.menu {
    grid-area: nav-menu;
}

.settings {
    grid-area: nav-settings;
}

.header {
    grid-area: header;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 50px;
}

.header-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        'search-bar search-bar search-bar user-id user-id'
        'user-info user-info user-info task-buttons task-buttons';
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.search-bar{
    grid-area: search-bar;
    display: flex;
    align-items: center;
    & img {
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    & input {
        width: 70%;
        height: 45px;
        border-radius: 50px;
        background-color: #e1e7ed;
        border: 0px;
    }
}

.user-id-bar {
    grid-area: user-id;
    display: flex;
    align-items: center;
    justify-content: end;
    & .icon-bell {
        width: 40px;
        height: 40px;
        margin-right: 25px;
    }
    & .logo-odin {
        width: 60px;
        height: 60px;
        margin-right: 25px;
    }
}

.user-info-bar {
    grid-area: user-info;
    display: flex;
    align-items: center;
    & img {
        width: 90px;
        height: 90px;
        margin-right: 25px;
    }
}

.task-buttons {
    grid-area: task-buttons;
    display: flex;
    align-items: center;
    justify-content: end;
    & button {
        width: 140px;
        height: 50px;
        border: 0;
        border-radius: 30px;
        background-color: #1c93d3;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
    }
}

.main {
    grid-area: main;
}

.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        'left left right'
        'left left right'
        'left left right';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #e1e7ed;
}

.main-left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 30px;
    & h1 {
        padding-bottom: 15px;
    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px
}

.card {
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 15px;
    background-color: #fff;
    border-left: 10px solid;
    border-radius: 8px;
    border-left-color: #e2b231;
    & h2 {
        font-size: larger;
    }
    & p {
        font-size: 16px;
        color: #000;
        opacity: 70%;
        margin-bottom: 40px;
        text-wrap: balance;
    }
}

.card-icons {
    text-align: end;
    & img {
        width: 40px;
        height: 40px;
        padding-left: 10px;
    }
}

.main-right {
    grid-area: right;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        'announcements'
        'trending';
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.announcements {
    grid-area: announcements;
}

.trending {
    grid-area: trending;
}
